<nav>
    <div class="site-title">
        <a href="/"><h1>new heading</h1></a>
        <p>a node js site</p>
    </div>
    <ul>
       <li> <a href="/">Blogs</a></li>
    <li><a href="/about">About page</a></li>
    <li><a href="/blogs/create">new blog page</a></li>
    </ul>
  </nav>