<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>

  <%- include('./partials/nav.ejs') %>  
  <div class="'blog content">
    <h2>OOPS not found</h2>

  </div>
  <%- include('./partials/foot.ejs') %>
</body>
</html>