<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>

  <%- include('./partials/nav.ejs') %> 
  <div class="about content">
    <h2>about us </h2>

  </div>
  <%- include('./partials/foot.ejs') %>
</body>
</html>